<nav class="transparent z-depth-0">
	<div class="nav-wrapper">				
		<div class="right">
			<ul>
				<button type="button" class="giro"><a href="">Blog</a></button>
				<button type="button" class="giro"><a href="">Flea market</a></button>
				
			</ul>
		</div>
		<div class="left">
			<ul>
				<button type="button" class="giro"><a href="">Eventos</a></button>
				<button type="button" class="giro"><a href="">Contatos</a></button>
			</ul>
		</div>
		<div class="center logo">
			<ul>
				Loading... Drink
			</ul>
		</div>

	</div>
</nav>